body{
  padding:0;
  margin:0;
}
.img-container{
  position:relative;
  height:100vh;
  width: 100vw;
  overflow:hidden;
}
.img{
  position:absolute;
  left:50%;
  top:50%;
  height:100%;
  width: auto;
  transform: translate(-50%, -50%);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .form-input-hint {
  max-width: 300px;
  margin: 0 20px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
::placeholder {
  color:#fff;
  opacity: .4;
 }
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#2ecc71;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}:disabled {
  opacity: .7;
  cursor: not-allowed !important;
}
.box button:active{
  background:#27ae60;
}
